.wy-nav-content {
    max-width: none;
}

body {
    /* font-family: Luminari, fantasy, sans-serif;
    color: darkred;
    text-shadow: 1px 1px black; */
}

h1 {
    /* font-family: Luminari, fantasy, sans-serif;  */
}

img {
    /* max-width: 60%; */
}